.win-team {
  .win-team-card {
    max-width: 576px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #151617;
    .team-header {
      margin: 8px 8px 24px 8px;
      align-items: center;
      .team-logo {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        margin-left: 0;
      }
      .team-title {
        margin-left: 0;
        .team-name {
          font-size: 22px;
          font-weight: bold;
          line-height: 1.05em;
          margin: 2px 0;
        }
        .team-owner {
          color: #a6a7aa;
          font-weight: bold;
          line-height: 1.05em;
          margin: 2px 0;
        }
      }
    }
    .team-img {
      height: 245px;
      object-fit: cover;
      flex-shrink: 0;
    }
    .content {
      margin: 24px 8px;
      font-size: 16px;
      line-height: 28px;
    }
    .mat-card-image {
      margin: 0 -16px;
    }
    .actions {
      background-color: #e7e7e7;
      margin: 0 -16px -16px -16px;
      padding: 24px;
      border-radius: 0 0 8px 8px;
      .like-btn {
        margin-right: 16px;
      }
    }
  }
}

.arrow-left {
  margin: 0 30px 0 -10px;
  animation: bounceLeft 2s infinite;
}
/* /left bounce */
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(10px);
  }
}
