<mat-card class="win-team-card">
  <mat-card-header class="team-header">
    <div mat-card-avatar class="team-logo"></div>
    <div>
      <mat-card-title class="team-name">Shiba Inu</mat-card-title>
      <mat-card-subtitle class="team-award">Dog Breed</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="team-img"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button class="like-btn">LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
