<div>
  <mat-card class="win-team-card" *ngIf="winnerTeam; else no_team">
    <mat-card-header class="team-header">
      <div mat-card-avatar class="team-logo"></div>
      <div>
        <mat-card-title class="team-name"
          >{{winnerTeam?.teamBranding?.teamName}}</mat-card-title
        >
        <mat-card-subtitle class="team-award">
          <div *ngFor="let teamOwner of winnerTeam?.profiles?.TeamOwner">
            {{teamOwner.}}
          </div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="team-img"
      mat-card-image
      [src]="winnerTeam?.teamBranding?.teamImg"
      [alt]="winnerTeam?.teamBranding?.teamName ? winnerTeam?.teamBranding?.teamName : 'Team Image'"
    />
    <mat-card-content class="content">
      <p>
        {{winnerTeam.description ? winnerTeam.description : teamDescDefault}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-raised-button class="like-btn">LIKE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <ng-template #no_team>
    <div>Please enter guid on the left to find out your team!</div>
  </ng-template>
</div>
