.win-team-card {
  max-width: 576px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #151617;
  .team-header {
    margin: 0 8px;
    .team-logo {
      background-size: cover;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: cover;
    }
    .team-name {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.05em;
    }
    .team-award {
      color: #a6a7aa;
      font-weight: bold;
      line-height: 1.05em;
    }
  }
  .team-img {
    height: 245px;
  }
  .content {
    margin: 24px 8px;
    font-size: 16px;
    line-height: 28px;
  }
  .mat-card-image {
    margin: 0 -16px;
  }
  .actions {
    background-color: #e7e7e7;
    margin: 0 -16px -24px -16px;
    padding: 24px;
    border-radius: 0 0 8px 8px;
    .like-btn {
      margin-right: 16px;
    }
  }
}
