<div class="find-your-team">
	<h1 class="ml-h1">{{title}}</h1>
	<div *ngFor="let bullet of bullets">
		<p class="bullet">- {{bullet}}</p>
	</div>

	<mat-form-field appearance="fill" class="search-field">
		<mat-label>Input Search Criteria</mat-label>
		<input matInput [(ngModel)]="searchVal" (keyup.enter)="" />
		<mat-icon matSuffix class="search-icon">search</mat-icon>
	</mat-form-field>

	<button
    mat-raised-button
    class="search-btn"
    aria-label="Search"
    [disabled]="!searchVal.length"
    (click)="search()"
  >
    SEARCH
  </button>
</div>