/* Global */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.spacer {
  flex: 1 1 auto;
}
.alert {
  background-color: #fff3e0;
  border-radius: 4px;
  padding: 15px;
  color: #fb8c00;
}
.alert-info {
  color: #2196f3;
  background: #e1f5fe;
}

.alert-success {
  color: #31bfa6;
  background: #e8f5e9;
}

.alert-error {
  color: #f44336;
  background: #ffebee;
}

.alert-icon {
  font-size: 40px;
  position: relative;
  top: 10px;
}
.ml-h1 {
  font-size: 60px;
  line-height: 60px;
}
.mr-2 {
  margin-right: 24px;
}

/* Rewrite material css */
.landing .mat-raised-button {
  color: #244682;
  font-weight: bold;
  min-width: 106px;
  height: 40px;
}
.search-field.mat-form-field-appearance-fill .mat-form-field-flex {
  border: 2px solid white;
  border-radius: 4px;
}
.search-field.mat-form-field-appearance-fill .mat-form-field-flex:hover {
  border-color: transparent;
}

.search-field .mat-form-field-label {
  color: white;
}
